NODE_ENV=production
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Variables for using a hosted database
DATABASE_URL=your_db_url

# Variables for running a local PSQL server
DB_USER=postgres
DB_HOST=localhost
DB_NAME=minesweeper
DB_PASSWORD=yourPassword
DB_PORT=5432

FRONTEND_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:4001
PORT=4001