h1 {
    text-align: center;
    padding: 0.5rem;
}

.homepageSection {
    display: flex;
    align-items: center;
}

.links {
    text-align: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.homepageLink {
    padding: 0.5rem;
    font-weight: bold;
}

.icon {
    height: 200px;
    width: auto;
    display: inline;
    padding: 1rem;
}

@media only screen and (max-width: 700px) {
    .homepageSection {
        flex-direction: column-reverse;
    }

    .links {
        text-align: center;
    }

    .icon {
        height: 100px;
        display: block;
        align-content: center;
    }
}