.nav-icon {
    width: 2rem;
    height: auto;
    display: inline;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.nav-links {
    display: flex;
    /*justify-content: space-between;
    width: 50% */
    align-items: center;
    padding: 0.5rem;
    gap: 1.5rem;
}

.logout-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.logout-button {
    width: auto;
    padding: 1rem;
    height: 2.5rem;
    background-color: rgb(3, 35, 63);
    color: #1a0a0a;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'User Input Font', sans-serif;
    transition: transform 0.1s, background-color 0.2s;
    box-sizing: border-box;
    margin-right: 2rem;
    align-items: right;
}

.login-message {
    background-color: white;
    color: rgb(150, 49, 115);
    font-style: oblique;
    font-size: 0.7rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
    }
}