.scores-page {
    text-align: centre;
    width: 100%;
}

.score-block {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.score-card {
    padding: 1rem;
    background-color: white;
    box-shadow: 10px 10px 20px 2px rgba(11, 9, 125, 0.498);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    width: 20%;
    min-width: 150px;
}

.game-difficulty {
    font-size: 2rem;
    border-bottom: 1px solid navy;
}

.game-results {
    padding-top: 1rem;
}

.game-wins, .game-losses, .game-wlratio {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .score-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}