@font-face {
  font-family: 'User Input Font';
  src: url('/fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.user-form-component {
    font-family: 'User Input Font', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 3rem 2rem;
    background-color: rgb(43, 101, 146);
    color: white;
    border-radius: 1rem;
    gap: 1.5rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-form-fields, .user-form-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-header {
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

.redirect-user-entry {
    color: white;
}

button, .google-button {
    width: 100%;
    padding: 0.5px;
    height: 2.5rem;
    background-color: rgb(3, 35, 63);
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'User Input Font', sans-serif;
    transition: transform 0.1s, background-color 0.2s;
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center;     /* Centers text vertically */
    box-sizing: border-box;
}

button:hover, a:hover {
    transform: translateY(-2px);
}

label {
    color: rgb(3, 35, 63);
    font-size: 1.25rem;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid transparent;
    font-family: 'User Input Font', sans-serif;
    color: rgb(78, 78, 78);
    box-sizing: border-box;
}

/*profile page additiona*/
.profile {
    text-align: centre;
    width: 100%;
}

.user-block {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.user-details {
    padding: 1.5rem 2rem;
    background-color: white;
    box-shadow: 10px 10px 20px 2px rgba(11, 9, 125, 0.498);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    width: 50%;
    min-width: 150px;
    max-width: 400px;
    margin: 2rem auto;
}

.user-info-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 3px solid rgb(43, 101, 146);;
}